.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.outside {
	width: 960px;
	margin: 0;
}

header {
	width: 960;
	height: 80px;
	background-color: #fff;
	border-color: #ccc;
	border-bottom: 10px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

body {
	width: 960;
	font-color: #777;
}

.stuff {
	background-color: #d3d3d3;
	height: 700px;
	width: 960px;
}

#headp {
	float: left;
	width: 20%;
	padding: 15px;
	background-color: #4aaaa5;
	font-size: 24px;
	margin-left: 100px;
}

#headdiv {
	position: relative;
	right: 75px;
	top: 40px;
	float: right;
}

#acont {
	float: right;
	text-decoration: none;
	color: Gray;
	padding: 10px;
}

#aport {
	float: right;
	text-decoration: none;
	color: Gray;
	padding: 10px;
}

#aabot {
	float: right;
	text-decoration: none;
	color: Gray;
	padding: 10px;
}

.maincontent {
	width: 480PX;
	height: 700;
	clear: both;
	background-color: #d3d3d3;
}

.portcontent {
	width: 480px;
	height: 800px;
	clear: both;
	background-color: #D3D3D3;
	border-width: 5px;
	border-color: red;
}

form {
	width: 480px;
	height: 800px;
	clear: both;
	background-color: #D3D3D3;
	border-width: 5px;
	border-color: red;
}

.mainsection {
	float: left;
	background-color: white;
	margin-left: 15%;
	width: 500px;
	padding: 5px;
	margin-top: 12px;
}

.portmainsection {
	float: left;
	clear: both;
	background-color: white;
	margin-left: 15px;
	margin-top: 12px;
	width: 500px;
	padding: 25px;
}

#me {
	float: left;
	padding: 10px;
}

#mep {
	padding: 5px;
}

.sidediv {
	width: 280px;
	float: right;
}

.conn {
	clear: both;
	background-color: white;
	padding: 15px;
	margin-right: 50px;
	margin-top: 12px;
}

.logo {
	padding: 5px;
}

#myfoot {
	color: white;
	font-size: 10px;
	padding: 25px;
}

#photo1sect {
	position: relative;
	margin-top: 40px margin-left: 15px;
}

#photo1p {
	position: absolute;
	bottom: 10px;
	left: 0px;
	padding: 5px;
	background-color: #4aaaa5;
	width: 190px;
	text-align: center;
	z-index: 2;
}

#photo2sect {
	position: relative;
	left: 250px;
	top: 15px;
}

#photo2p {
	position: absolute;
	bottom: 10px;
	left: 0px;
	padding: 5px;
	background-color: #4aaaa5;
	width: 190px;
	text-align: center;
	z-index: 2;
}

#photo4sect {
	position: relative;
	margin-top: 40px;
	margin-left: 0px;
}

#photo4p {
	position: absolute;
	bottom: 10px;
	left: 0px;
	padding: 5px;
	background-color: #4aaaa5;
	width: 190px;
	text-align: center;
	z-index: 1;
}

footer {
	width: 960px;
	height: 60px;
	background-color: #666666;
	border-top: 20px;
	border-color: #4aaaa5;
	text-align: center;
	margin-top: 25px;
}
